<html lang="en" class="uk-notouch">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="">
   <title> Node Blog </title>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body cz-shortcut-listen="true">
  
  <%- include('../partials/_nav') -%>

  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    
    <div class="container">
      <!-- Example row of columns -->
      <%- include('../partials/_msg') -%>
      <%- include('../partials/_errors') -%>
 
      <%- body %>

    </div> <!-- /container -->

  </main>

 <%- include('../partials/_footer') -%>

</body>
</html>